/*
**************************************************************
----------------    global css start ----------------------------------
**************************************************************
*/
@font-face {
    src: url(../fonts/dia-bold.ttf);
    font-family: 'Dia';
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 1.375;
}
h1,
h2,
h3 {
    font-family: 'Dia';
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}
h1 {
    font-family: 'Dia';
    font-weight: 300;
    font-size: 2.5em;
    line-height: 1.05em;
}
h2 {
    font-family: 'Dia';
    font-size: 2em;
    line-height: 1.25;
}
h3 {
    font-family: 'Dia';
    font-size: 1.2em;
    line-height: 1.25;
}
.color-1 {
    color: #0E0F10
}
.color-2 {
    color: #070708;
}
.color-3 {
    color: #21AC6D;
}
.color-4 {
    color: #73C8FF;
}
.color-5 {
    color: #fff;
}
.bg-1 {
    background-color: #0E0F10
}
.bg-2 {
    background-color: #070708;
}
.bg-3 {
    background-color:  #21AC6D;
}

.bg-4 {
    background-color: #73C8FF;
}
.bg-5 {
    background-color: #fff;
}

.mass-header {
    margin-bottom: 80px;
}
/*mass header bar start*/
.mass-header-bar,
.mass-header-bar-circle {
    width: 0;
    margin: 20px auto;
    position: relative;
}
.mass-header-bar::before,
.mass-header-bar::after,
.mass-header-bar-circle::before,
.mass-header-bar-circle::after {
    content: "";
    position: absolute;
}
.mass-header-bar::before,
.mass-header-bar::after {
    width: 60px;
    height: 2px;
    background-color: #21AC6D;
}
.mass-header-bar::before {
    left: 22px;
    top: 0;
}
.mass-header-bar::after {
    right: 22px;
    top: 0;
}
.mass-header-bar-circle::before,
.mass-header-bar-circle::after {
    width: 20px;
    height: 20px;
    border: 2px solid #21AC6D;
}
.mass-header-bar-circle::before {
    border-radius: 50% 50% 50% 0;
    left: 3px;
    top: -8px;
    -webkit-transform: rotate(45deg);
         -mz-transform: rotate(45deg);
                transform: rotate(45deg);
}
.mass-header-bar-circle::after {
    border-radius: 50% 0 50% 50%;
    right: 3px;
    top: -8px;
    -webkit-transform: rotate(45deg);
         -mz-transform: rotate(45deg);
                transform: rotate(45deg);
}

/*mass header bar end*/
/*mass btn start*/
.mass-btn {
    padding: 9px 28px;
    color: #fff;
    border: 1px solid #282828;
    position: relative;
    z-index: 99;
}
.mass-btn:hover {
    color: #21AC6D;
}
.mass-btn::before,
.mass-btn::after {
    content: "";
    position: absolute;
}
.mass-btn::before {
    width: 20%;
    height: 100%;
    background-color: #0E0F10;
    left: 0;
    top: 0;
    z-index: -99;
    transition: all .5s;
}
.mass-btn:hover::before {
    width: 100%;
}
.mass-btn::after {
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #21AC6D;
    transition: all .4s;
}
.mass-btn:hover::after {
    width: 40px;
    height: 2px;
    background-color: #21AC6D;
    left: -18px;
    -webkit-transform: rotate(90deg);
    -mz-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 20px;
}
/*mass button end*/

#about,
#interest,
#services,
#testimonials,
#price,
#resume,
#skills,
#portfolio,
#contact {
    padding: 80px 0 60px;
}
.mass-card {
    padding: 10px ;
    transition: all .5s;
    box-sizing: border-box;
}
.mass-card:hover {
    -webkit-transform: translateY(-2%);
    -mz-transform: translateY(-2%);
    transform: translateY(-2%);
}
/*##############  gloabl css end   ##################*/

/*
**************************************************************
----------------    header css start ----------------------------------
**************************************************************
*/
.a,
.j{
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    border: 2px solid #fff;
}
.a {
    background-color: #fff;
}
.custom-navbar-toggler {
    border: 0;
    position: relative;
    top: -2px;
}
.custom-navbar-toggler:focus {
    outline: 0 !important;
}
.custom-navbar-toggler::before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    left: 5px;
    top: -9px;
    z-index: -90;
    transition: background-color .4s;
}
.custom-navbar-toggler:hover::before {
    background-color: transparent;
}
.custom-navbar-toggler .bar {
    display: block;
    height: 3px;
    background-color: #fff;
    margin-left: auto;
}
.custom-navbar-toggler .bar1,
.custom-navbar-toggler .bar2 {
    margin-bottom: 6px;
}
.custom-navbar-toggler .bar1 {
    width: 35px;
}
.custom-navbar-toggler .bar2 {
    width: 20px;
}
.custom-navbar-toggler .bar3 {
    width: 29px;
}
.mainav li {
    display: block;
}
.mainav li a {
    color: #fff !important;
    display: inline-block;
    position: relative;
    transition: text-shadow .3s;
}
.mainav li a::before {
    content: "";
    width: 0;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: width .3s;
}
.mainav li a:hover::before {
    width: 100%;
}
.mainav li a:hover {
    text-shadow: 3px 5px 10px rgba(0, 0, 0, .5);
    color: #fff !important;
}
/*##############  header css end   ##################*/
/*
**************************************************************
----------------    banner css start ----------------------------------
**************************************************************
*/
#banner {
    background: -webkit-linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),url(../images/banner.jpg);
    background: -mz-linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),url(../images/banner.jpg);
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),url(../images/banner.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    position: relative;
    transition: background-size 3s;
}
#banner:hover {
    background-size: 103% 103%;
}
#banner h1 {
    font-weight: 900;
}
.banner-row {
    min-height: 100vh;
}
.banner-content h1 {
    color: #fff;
}
.banner-content h3 {
    color: #b5b5b5;
    margin-bottom: 30px;
}
.banner-content .btn-contact {
    color: #fff !important;
    padding: 8px 30px;;
    border-top: 1px solid #b7b7b7;
    border-bottom: 1px solid #b7b7b7;
    border-left: 2px solid #fff;
    border-right: 2px solid #000;
    margin-bottom: 20px;
    position: relative;
    transition: all .3s;
    z-index: 99;
}
.banner-content .btn-contact a {
    text-decoration: none;
    color: #fff;
}
.btn-left-half,
.btn-right-half {
    transition: all .4s;
}
.banner-content .btn-contact:hover .btn-left-half {
    color: #000;
}
.banner-content .btn-contact:hover .btn-right-half {
    color: #fff;
}
.banner-content .btn-contact:hover {
    color: #fff !important;
}
.banner-content .btn-contact::before,
.banner-content .btn-contact::after {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    transition: all .4s;
    z-index: -99;
}
.banner-content .btn-contact::before {
    background-color: #fff;
    left: 0;
    top: 0;
}
.banner-content .btn-contact:hover::before {
    width: 50%;
}
.banner-content .btn-contact:after {
    background-color: #000;
    right: 0;
    top: 0;
}
.banner-content .btn-contact:hover:after {
    width: 50%;
}
#banner .social-links {
    margin-top: 70px;
    position: absolute;
    right: 30px;
    top: 100px;
}
#banner .social-links ul {
    list-style: none;
}
#banner .social-links ul li a {
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #c6c6c6;
    margin: 20px 0;
    transition: all .2s;
}
#banner .social-links ul li a:hover {
    color: #21AC6D;
    -webkit-transform: scale(1.1, 1.1);
    -mz-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
/*##############  banner css end   ##################*/
/*
**************************************************************
----------------    about css start ----------------------------------
**************************************************************
*/
#about .admin-details {
    margin-bottom: 25px;
}
.about-content .single .single-icon {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    padding: 8px 7px;
}
.about-content .single h3 {
    margin-bottom: 0;
}
/*##############  about css end   ##################*/
/*
**************************************************************
----------------    interest css start ----------------------------------
**************************************************************
*/
.interest-content .single {
    border-radius: 30px;
    margin: 20px 0;
    transition: all .3s;
}
.interest-content .single:hover {
    background-color: transparent;
}
.interest-content i {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}
.interest-content .single p {
    font-size: 16px;
    padding: 8px 13px 8px 0;
}
.interest-content .single .single-col {
    border-left: 2px solid #070708;
}
/*##############  interest css end   ##################*/
/*
**************************************************************
----------------    services css start ----------------------------------
**************************************************************
*/
.services-content .single {
    margin: 30px 0;
}
.services-content .single .mass-card {
    border-radius: 20px;
}
.service-icon {
    width: 70px;
    height: 70px;
    background-color: #0E0F10;
    border-radius: 50%;
    padding: 20px 0;
    margin: 0 auto;
    position: relative;
}
.service-icon::before {
    content: "";
    width: 50%;
    height: 50%;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #21AC6D;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    transition: all .4s;
}
.services-content .single:hover .service-icon::before {
    opacity: 1;
    width: 100%;
    height: 100%;
}
/*##############  services css end   ##################*/
/*
**************************************************************
----------------    testimonials css start ----------------------------------
**************************************************************
*/
.testimonials-content .client-img {
    width: 90px;
    margin-right: 20px;
}
.client-details-row {
    position: relative;
}
.client-details-row .quote-mark {
    font-size: 20px;
    color: #fff;
    position: absolute;
    right: 20px;
    top: 0;
}
/*##############  testimonials css end   ##################*/
/*
**************************************************************
----------------    price css start ----------------------------------
**************************************************************
*/
.price-content .price-card {
    border-radius: 20px;
}
.price-type {
    border-bottom: 3px solid #0E0F10;
    padding: 50px 0 20px;
    position: relative;
}
.price-type .price-icon {
    width: 70px;
    height: 70px;
    padding: 18px 0;
    border-radius: 50%;
    background-color: #070708;
    position: absolute;
    top: -35px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.price-type .price-icon::before,
.price-type .price-icon::after {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 0px;
    left: 0;
    right: 0;
    border-radius: 50%;
}

.price-type .price-icon::before {
    width: 100%;
    height: 100%;
    border: 6px solid #0E0F10;
    margin: 0 auto;
}
.price-type .price-icon::after {
    width: 50%;
    height: 50%;
    border: 2px solid #21AC6D;
    bottom: 0;
    margin: auto;
    opacity: 0;
    transition: all .4s;
}
.price-content .single:hover .price-type .price-icon::after {
    opacity: 1;
    width: 83%;
    height: 83%;
}
.price-details {
    padding: 25px 0 40px;
}
.price-details p del {
    color: #595959;
}

/*##############  price css end   ##################*/
/*
**************************************************************
----------------    resume css start ----------------------------------
**************************************************************
*/
#resume .mass-card:first-child {
    margin-right: 10px;
}
#resume .mass-card:last-child {
    margin-left: 10px;
}
.experience-content .single {
    position: relative;
    z-index: 999;
    padding-left: 40px;
    margin-bottom: 40px;
}
.experience-content .single:hover .single-circle-icon {
    background-color: #21AC6D;
}
.experience-content .single::before {
    content: "";
    width: 30px;
    height: 3px;
    background-color: #21AC6D;
    position: absolute;
    left: 0;
    top: 12px;
}
.experience-content .single::after {
    content: "";
    width: 3px;
    height: 100%;
    background-color: #21AC6D;
    position: absolute;
    left: 0;
    top: -10px;
}
.single-circle-icon {
    width: 16px;
    height: 16px;
    background-color: #070708;
    border: 3px solid #21AC6D;
    border-radius: 50%;
    position: absolute;
    left: -6px;
    top: 6px;
    z-index: 999;
    transition: .2s;
}

/*##############  resume css end   ##################*/
/*
**************************************************************
----------------    skills css start ----------------------------------
**************************************************************
*/
.skill-circle {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    text-align: center;
    padding: 50px 0;
    position: relative;
    border: 10px solid #0E0F10;
    color: #fff;
    margin: 10px;
}
.skill-circle::before,
.skill-circle::after {
    content: "";
    border-radius: 50%;
    position: absolute;
}
.skill-circle::before {
    width: 108%;
    height: 108%;
    border-left: 10px solid #21AC6D;
    border-top: 10px solid #21AC6D;
    left: -10px;
    top: -10px;
}
.p-bar {
    margin-bottom: 35px;
}

/*##############  skills css end   ##################*/
/*
**************************************************************
----------------    portfolio css start ----------------------------------
**************************************************************
*/
.portfolio-link {
    text-align: center;
    color: #fff;
    border-radius: 30px;
    box-shadow: 2px 5px 10px #383838;
    background-color: #000;
    margin-bottom: 40px;
    margin: 0 auto 40px;
    width: 360px;
}
.portfolio-link ul {
    margin-bottom: 0;
}
.portfolio-link ul li {
    font-size: 20px;
    padding: 7px 18px;
    margin: 0 !important;
    cursor: pointer;
}
.portfolio-link ul li.active {
    background-color: #fff;
    border-radius: 30px;
    color: #21AC6D;
    box-shadow: 1px 3px 5px #494949;
}
.portfolio-img {
    border-radius: 15px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 3px 5px 10px #000;
}
.portfolio-img:hover {
    transform: translateY(-2%);
}
.portfolio-img img {
    border-radius: 15px;
}
.portfolio-img .overlay {
    width: 100%;
    height: 100%;
    color: #fff;
    position: absolute;
    top: 0;
    transition: all .4s;
    border-radius: 15px;
    text-align: center;
}
.portfolio-img:hover .overlay {
    background-color: rgba( 0, 0, 0, 0.7 );
}
.portfolio-img .overlay h3 {
    width: 165px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    transition: opacity .3s, top .2s .1s;
    opacity: 0;
}
.btn-see {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .3s .2s;
}
.portfolio-img:hover .btn-see {
    opacity: 1;
}
.overlay-brand-name {
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left: -60px;
    transition: all .3s;
}
.overlay-icon {
    position: absolute;
    right: -60px;
    bottom: 10px;
    transition: all .3s;
}
.portfolio-img:hover h3 {
    opacity: 1;
}
.portfolio-img:hover .overlay-brand-name {
    left: 20px;
}
.portfolio-img:hover .overlay-icon {
    right: 20px;
}

/*##############  portfolio css end   ##################*/
/*
**************************************************************
----------------    contact css start ----------------------------------
**************************************************************
*/
#contact input,
#contact textarea {
    background-color: #070708;
    border: none;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #fff;
}
#contact input:focus,
#contact textarea:focus {
    border: 1px solid #fff;
    box-shadow: none;
}
/*##############  contact css end   ##################*/
/*
**************************************************************
----------------    footer css start ----------------------------------
**************************************************************
*/
#footer {
    padding: 30px 0;
}



/*##############  footer css end   ##################*/
