/*margin top*/
.mt-5 {
    margin-top: 5px !important;
}
.mt-10 {
    margin-top: 10px !important;
}
.mt-15 {
    margin-top: 15px !important;
}
.mt-20 {
    margin-top: 20px !important;
}
.mt-25 {
    margin-top: 25px !important;
}
.mt-30 {
    margin-top: 30px !important;
}
.mt-35 {
    margin-top: 35px !important;
}
.mt-40 {
    margin-top: 40px !important;
}
.mt-45 {
    margin-top: 45px !important;
}
.mt-50 {
    margin-top: 50px !important;
}
.mt-55 {
    margin-top: 55px !important;
}
.mt-60 {
    margin-top: 60px !important;
}
.mt-65 {
    margin-top: 65px !important;
}
.mt-70 {
    margin-top: 70px !important;
}
/*margin top end*/
/*margin bottom start*/
.mb-5 {
    margin-bottom: 5px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mb-15 {
    margin-bottom: 15px !important;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.mb-25 {
    margin-bottom: 25px !important;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.mb-35 {
    margin-bottom: 35px !important;
}
.mb-40 {
    margin-bottom: 40px !important;
}
.mb-45 {
    margin-bottom: 45px !important;
}
.mb-50 {
    margin-bottom: 50px !important;
}
.mb-55 {
    margin-bottom: 55px !important;
}
.mb-60 {
    margin-bottom: 60px !important;
}
.mb-65 {
    margin-bottom: 65px !important;
}
.mb-70 {
    margin-bottom: 70px !important;
}
/*margin bottom end*/
/*margin left start*/
.ml-5 {
    margin-left: 5px !important;
}
.ml-10 {
    margin-left: 10px !important;
}
.ml-15 {
    margin-left: 15px !important;
}
.ml-20 {
    margin-left: 20px !important;
}
.ml-25 {
    margin-left: 25px !important;
}
.ml-30 {
    margin-left: 30px !important;
}
.ml-35 {
    margin-left: 35px !important;
}
.ml-40 {
    margin-left: 40px !important;
}
.ml-45 {
    margin-left: 45px !important;
}
.ml-50 {
    margin-left: 50px !important;
}
.ml-55 {
    margin-left: 55px !important;
}
.ml-60 {
    margin-left: 60px !important;
}
.ml-65 {
    margin-left: 65px !important;
}
.ml-70 {
    margin-left: 70px !important;
}
/*margin left end*/
/*margin right start*/
.mr-5 {
    margin-right: 5px !important;
}
.mr-10 {
    margin-right: 10px !important;
}
.mr-15 {
    margin-right: 15px !important;
}
.mr-20 {
    margin-right: 20px !important;
}
.mr-25 {
    margin-right: 25px !important;
}
.mr-30 {
    margin-right: 30px !important;
}
.mr-35 {
    margin-right: 35px !important;
}
.mr-40 {
    margin-right: 40px !important;
}
.mr-45 {
    margin-right: 45px !important;
}
.mr-50 {
    margin-right: 50px !important;
}
.mr-55 {
    margin-right: 55px !important;
}
.mr-60 {
    margin-right: 60px !important;
}
.mr-65 {
    margin-right: 65px !important;
}
.mr-70 {
    margin-right: 70px !important;
}
/*margin right end*/
/*margin start*/
.m-5 {
    margin: 5px !important;
}
.m-10 {
    margin: 10px !important;
}
.m-15 {
    margin: 15px !important;
}
.m-20 {
    margin: 20px !important;
}
.m-25 {
    margin: 25px !important;
}
.m-30 {
    margin: 30px !important;
}
.m-35 {
    margin: 35px !important;
}
.m-40 {
    margin: 40px !important;
}
.m-45 {
    margin: 45px !important;
}
.m-50 {
    margin: 50px !important;
}
.m-55 {
    margin: 55px !important;
}
.m-60 {
    margin: 60px !important;
}
.m-65 {
    margin: 65px !important;
}
.m-70 {
    margin: 70px !important;
}
/*margin end*/
/*padding top start*/
.pt-5 {
    margin-top: 5px !important;
}
.pt-10 {
    margin-top: 10px !important;
}
.pt-15 {
    margin-top: 15px !important;
}
.pt-20 {
    margin-top: 20px !important;
}
.pt-25 {
    margin-top: 25px !important;
}
.pt-30 {
    margin-top: 30px !important;
}
.pt-35 {
    margin-top: 35px !important;
}
.pt-40 {
    margin-top: 40px !important;
}
.pt-45 {
    margin-top: 45px !important;
}
.pt-50 {
    margin-top: 50px !important;
}
.pt-55 {
    margin-top: 55px !important;
}
.pt-60 {
    margin-top: 60px !important;
}
.pt-65 {
    margin-top: 65px !important;
}
.pt-70 {
    margin-top: 70px !important;
}
/*margin top end*/
/*margin bottom start*/
.pb-5 {
    margin-bottom: 5px !important;
}
.pb-10 {
    margin-bottom: 10px !important;
}
.pb-15 {
    margin-bottom: 15px !important;
}
.pb-20 {
    margin-bottom: 20px !important;
}
.pb-25 {
    margin-bottom: 25px !important;
}
.pb-30 {
    margin-bottom: 30px !important;
}
.pb-35 {
    margin-bottom: 35px !important;
}
.pb-40 {
    margin-bottom: 40px !important;
}
.pb-45 {
    margin-bottom: 45px !important;
}
.pb-50 {
    margin-bottom: 50px !important;
}
.pb-55 {
    margin-bottom: 55px !important;
}
.pb-60 {
    margin-bottom: 60px !important;
}
.pb-65 {
    margin-bottom: 65px !important;
}
.pb-70 {
    margin-bottom: 70px !important;
}
/*margin bottom end*/
/*margin left start*/
.pl-5 {
    margin-left: 5px !important;
}
.pl-10 {
    margin-left: 10px !important;
}
.pl-15 {
    margin-left: 15px !important;
}
.pl-20 {
    margin-left: 20px !important;
}
.pl-25 {
    margin-left: 25px !important;
}
.pl-30 {
    margin-left: 30px !important;
}
.pl-35 {
    margin-left: 35px !important;
}
.pl-40 {
    margin-left: 40px !important;
}
.pl-45 {
    margin-left: 45px !important;
}
.pl-50 {
    margin-left: 50px !important;
}
.pl-55 {
    margin-left: 55px !important;
}
.pl-60 {
    margin-left: 60px !important;
}
.pl-65 {
    margin-left: 65px !important;
}
.pl-70 {
    margin-left: 70px !important;
}
/*margin left end*/
/*margin right start*/
.pr-5 {
    margin-right: 5px !important;
}
.pr-10 {
    margin-right: 10px !important;
}
.pr-15 {
    margin-right: 15px !important;
}
.pr-20 {
    margin-right: 20px !important;
}
.pr-25 {
    margin-right: 25px !important;
}
.pr-30 {
    margin-right: 30px !important;
}
.pr-35 {
    margin-right: 35px !important;
}
.pr-40 {
    margin-right: 40px !important;
}
.pr-45 {
    margin-right: 45px !important;
}
.pr-50 {
    margin-right: 50px !important;
}
.pr-55 {
    margin-right: 55px !important;
}
.pr-60 {
    margin-right: 60px !important;
}
.pr-65 {
    margin-right: 65px !important;
}
.pr-70 {
    margin-right: 70px !important;
}
/*margin right end*/
/*margin start*/
.p-5 {
    margin: 5px !important;
}
.p-10 {
    margin: 10px !important;
}
.p-15 {
    margin: 15px !important;
}
.p-20 {
    margin: 20px !important;
}
.p-25 {
    margin: 25px !important;
}
.p-30 {
    margin: 30px !important;
}
.p-35 {
    margin: 35px !important;
}
.p-40 {
    margin: 40px !important;
}
.p-45 {
    margin: 45px !important;
}
.p-50 {
    margin: 50px !important;
}
.p-55 {
    margin: 55px !important;
}
.p-60 {
    margin: 60px !important;
}
.p-65 {
    margin: 65px !important;
}
.p-70 {
    margin: 70px !important;
}
/*margin end*/